/* 
    Created on : 11-oct-2016, 11:55:25
    Author     : Carlos
*/
body {
    font-size: 22px;
    margin: 0 auto;
    background-image: url("../Imagenes/background.jpg");
}
select *{
    font-size: 16px;
}
table.tabs {
    border-collapse: separate;
    border-spacing: 0;
    background-color: transparent;
    font-size: 0.9em;
    width: 60%;
    margin: 0 auto;
    margin-top: 5px;
}
th.tabck {
    border: gray solid 1px;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    background-color: steelblue;
    padding: 0.3em;
    text-align: center;
    cursor: pointer;
}
th.tabcks {
    border: 0;
    border-bottom: gray solid 1px;
}
th.tabcks:first-child {
    border-left: gray solid 1px;
}
th.tabcks:last-child {
    border-right: gray solid 1px;
}
table.tabs tr:first-child th.tabcks {
    border-left: none;
    border-right: none;
}
table.tabs[data-filas] th.tabck {
    box-shadow: 0 -0.15em 0.1em 0 white;
}
table.tabs td {
    border: gray solid 1px;
    border-top: 0;
}
tr.filadiv {
    background-color: aliceblue;
}
/* El ancho y alto de los div.tabdiv se configuran
en cada aplicación */
div.tabdiv {
    background-color: aliceblue;
    border: 0;
    padding: 0.5em;
    overflow: auto;
    display: none;
    width: 92%;
    height: auto;
    margin-top: 5px;
} 

table.contenido td {
    border: none;
}

table.contenido {
    margin: 0 auto;
}

div.contenedor {
    margin: 0 auto;
    width: 60%;
}

a {
    text-decoration: none;
    color: black;
}

a button {
    cursor: pointer;
}

input.btn2{
    cursor: pointer;
}

div#logear{
    background-color: aliceblue;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 1px;
    padding-bottom: 35px;
    padding-left: 30px;
    padding-right: 30px;
    width: 30%;
    border: darkgrey solid 5px;
    border-radius: 15px 15px;
}

table#login{
    margin: 0 auto;
    margin-bottom: 5px;
}

div#registrar{
    background-color: aliceblue;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 1px;
    padding-bottom: 35px;
    padding-left: 30px;
    padding-right: 30px;
    width: 30%;
    border: darkgrey solid 5px;
    border-radius: 15px 15px;
}

table#registro{
    margin: 0 auto;
    margin-bottom: 5px;
}

div#cabeceralogin{
    margin: 0 auto;
    width: 30%;
    background-color: blanchedalmond;
    text-align: center;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: darkgrey solid 3px;
    border-radius: 15px 15px;
}

input#desconectar{
    margin-left: 10px;
}

